table{
    height:200px;
    width:300px;
}
table, th ,td{
    border:2px solid chocolate;
    border-collapse:collapse ;

}
th{
    background-color: brown;
}
td{
    background-color: darkgoldenrod;
}
th:hover{
    background-color: chartreuse;
}
td:hover{
    background-color: cornflowerblue;
}
body{
    background-image:""
}